@import 'main';

@mixin SP_Header() {
    .P_HeaderContainer {
        position: sticky;
        width: 100%;
        height: 6vh;
        padding: 0.5rem;
        > .content {
            @include basicContainer();
            background-color: $SP-color-header;
            padding: 0;
            box-sizing: border-box;
            height: 100%;
            width: calc(100% - 1rem);
            > .logo {
                @include SPLINT-border-inset(black);
                width: 10%;
                height: 100%;
                > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}