@import "../../../Splint/splint.config/config.style";

$border-radius          : 0px;
$SP-color-header        : rgb(0, 147, 0);
$color-primary-Dark     : rgb(0, 110, 0);
$color-primary-Light    : rgb(30, 201, 30);
$color-background-Light : rgb(225, 255, 225);
$color-primary-text     : black;
$color-button-hover     : rgb(0, 147, 0);

$font-family-main       : "Arial";
// > body {
    * {
        font-family: $font-family-main;
        margin: 0;
        padding: 0;
    }
// }
@mixin basicContainer(){
    box-shadow: transparentize(black, calc(1 -  0.15)) 0px 0px 3px, transparentize(black, calc(1 - 0.11)) 0px 0px 3px;
    border-radius: $border-radius;
    background-color: white;
    padding: 0.5em;

}

.button_General {
    user-select: none;
    background-color: transparent;
    border: none;
    color: $color-primary-text;

    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0px;
    > span {
        display: block;
        position: relative;
        text-align: center;
        &:not(.material-symbols-outlined){
            text-decoration: underline;
        }
    }
    > .dropdown {
      position: absolute;
      // @include border();
      // background-color: red;
      left: 100%;
      margin-left: 10%;
      top: 0;
      width: fit-content;
      height: max-content;
      overflow: hidden;
    }
    &:hover {
        > span {
            &:not(.material-symbols-outlined){
                text-decoration-color: $color-button-hover;
                animation-duration: 100ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                animation-name: buttonAnimation;
            }
            &.material-symbols-outlined {
                color: $color-primary-Dark !important;
                animation-duration: 100ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
                animation-name: buttonIconAnimation;
                &.rotate90{
                    animation-name: buttonIconAnimation90;
                }
            }
            // color: $color-secondary-text;
        }
        &:after {
            > span {
                &:not(.material-symbols-outlined){
                    text-decoration-color: $color-button-hover;
                    animation-duration: 100ms;
                    animation-timing-function: ease-out;
                    animation-fill-mode: backwards;
                    animation-direction: reverse;
                    animation-name: buttonAnimationB;
                }
                &.material-symbols-outlined {
                    color: $color-primary-Dark !important;
                    // animation-duration: 100ms;
                    // animation-timing-function: ease-in;
                    // animation-fill-mode: forwards;
                    // animation-name: buttonIconAnimation;
                    // &.rotate90{
                    //     animation-name: buttonIconAnimation90;
                    // }
                }
                color: white;
            }
        }
    }
    &.simple {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        // &.middle {
        //     position: absolute;
        //     right: 3%;
        //     top: 1.1em;
        // }
    }
}

@keyframes buttonAnimation {
    from {
      transform: translateY(0em);
      text-underline-offset: 0em;
    } 
    to {
      transform: translateY(-0.1em);
      text-underline-offset: 0.2em;
    }
  }
  @keyframes buttonAnimationB {
    to {
      transform: translateY(0em);
      text-underline-offset: 0em;
    } 
    from {
      transform: translateY(-0.1em);
      text-underline-offset: 0.2em;
    }
  }