
@import 'main';
@import 'header';
body {
    height: 100vh;
    @include SP_Header();
    box-sizing: border-box;
    > .ManagerMenuPage {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.25em;
        height: calc(100% - calc(6vh + 1.25em));
        box-sizing: border-box;
        overflow: hidden;
        >.TableMain {
            height: max-content;
            > .ListMain {
                > .ListElement {
                    > button {
                        > span {
                            font-size: 2em;
                        }
                        // background-color: transparent;
                        // outline: none;
                        // border: none;


                    }
                }
            }
        }
        > .Table2D {

        }
    }
}