@use '../../_main.scss' as *;

s-input {
    position: relative;
    margin: 0.5em;
    $c-active : gray;
    $c-passive : gray;
    $c-border : black;
    padding: 0;
    display: flex;
    flex-direction: column;
    // border: 0;
    > .inputBody {
        display: flex;
        flex-direction: row;;
        > input {
            background-color: transparent;
            border: 0;
            border-bottom: 2px $c-border solid;
            display: block;
            width: 100%;
            padding: 0.5em 0;
            padding-top: 1.5em;
            font-size: 1em;
            // color: #0a0a0a;
            &:valid, &:focus {
                outline: 0;
                border-bottom-color: $c-active;
                +label span {
                    color: $c-active;
                    font-size: 0.8em;
                    transform: translateY(-1.5em);
    
                }
            }
            // &:invalid {
            //     background-color: red;
            // }
            &[state='passive']{
                border-bottom: 2px red solid;
            }
        }
        > label {
            position: absolute;
            top: 1.5em;
            left: 0;
            pointer-events: none;
            > span {
                display: inline-block;
                font-size: 1em;
                min-width: 3px;
                color: $c-passive;
                transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }
        > button {
            background-color: transparent;
            > span {
    
            }
        }
    }
    > .response {
        > span {
            color: red;

        }
    }

}