@use '../../_main.scss' as *;
@use "../../tools/tools" as *;

//right

@mixin draw {
      position: relative;
      &:after {
        pointer-events: none;
        content: attr(data-tooltip-value);
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-75%);
        left: 140%;
        background: transparent;
        padding: 0.3em;
        font-size: 1rem;
        color: black;
        border-radius : 0;
        white-space: nowrap;
        opacity: 0;
        transition : all ease 0.4s 0s;
      } 
      &:before {
        pointer-events: none;
        content: attr(data-tooltip-value);
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-75%) skewX(-20deg);
        left: 140%;
        font-size: 1rem;
        background: #FFAA32;
        box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.7);
        padding: 0.3em;
        color: transparent;
        border-radius : 0;
        white-space: nowrap;
        opacity: 0;
        transition : all ease 0.4s 0s;
      }
      &:hover:after {
        top: 50%;
        transform: translateY(-75%);
        transition-duration: 200ms;
        transition-delay: 0.6s;
        left: 115%;
      }
      &:hover:before {
        top: 50%;
        transform: translateY(-75%) skewX(-20deg);
        transition-duration: 200ms;
        transition-delay: 0.6s;
        left: 115%;
      }
      &:hover:after, &:hover:before {
        opacity: 1;
        pointer-events: all;
      }
}