@use '../_main.scss' as *;
@use "../tools/tools" as *;

.SlideShow_S {
    position: relative;
    height: 100%;
    overflow-y: visible !important;
    overflow-x: auto;
        box-sizing: border-box;
        white-space: nowrap;
        background-color: transparent;
    > .inner {
        display: inline-block;
        position: relative;
        height: 100%;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        > .listElement {
            position: relative;
            // @include ();
            height: calc(100% - 0.4em);
            box-sizing: border-box;
            @include standardDiv();
            padding: 0;
            margin:0.2em;
            margin-inline: 0.5em;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            > div {
                bottom: 0;
                box-sizing: border-box;
                position: relative;
                text-align: center;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: 100%;
                aspect-ratio: 2/1;
                > span {
                    font-size: 2em;
                }
            }
        }
    }
}